.ad1 {
  padding-right: 20px;
  padding-bottom: 10px;
}

.btn btn-success {
  color: default;
}

.container-fluid {
  flex-wrap: wrap;
  background-color: #bcc6cc;
}

.row {
  padding-left: 225px;
  padding-right: 135px;
  padding-bottom: 0px;
}
#post {
  width: 600px;
  height: 400px;
  background-color: white;
}
